set version 14.1R1.10
set system host-name vmx5
set system root-authentication plain-text-password-value "lab123"
set system login user lab uid 2000
set system login user lab class super-user
set system login user lab authentication plain-text-password-value "lab123"
set system services ssh
set system services netconf ssh
set system syslog user * any emergency
set system syslog file messages any notice
set system syslog file messages authorization info
set system syslog file interactive-commands interactive-commands any
set interfaces ge-0/0/1 description "Core link to vmx7 ge-0/0/1"
set interfaces ge-0/0/1 unit 0 family inet address 145.227.10.21/30
set interfaces ge-0/0/1 unit 0 family iso
set interfaces ge-0/0/1 unit 0 family mpls
set interfaces ge-0/0/2 description "Core link to vmx6 ge-0/0/2"
set interfaces ge-0/0/2 unit 0 family inet address 145.227.10.25/30
set interfaces ge-0/0/2 unit 0 family iso
set interfaces ge-0/0/2 unit 0 family mpls
set interfaces em0 description mgmt
set interfaces em0 unit 0 family inet address 192.168.0.205/24
set interfaces lo0 unit 0 family inet address 145.227.100.105/32
set interfaces lo0 unit 0 family iso address 49.0001.1452.2710.0105.00
set routing-options autonomous-system 200
set protocols rsvp interface ge-0/0/1.0
set protocols rsvp interface ge-0/0/2.0
set protocols rsvp interface lo0.0
set protocols mpls no-propagate-ttl
set protocols mpls label-switched-path to-vmx6 to 145.227.100.106
set protocols mpls label-switched-path to-vmx6 no-cspf
set protocols mpls label-switched-path to-vmx7 to 145.227.100.107
set protocols mpls label-switched-path to-vmx7 no-cspf
set protocols mpls interface ge-0/0/1.0
set protocols mpls interface ge-0/0/2.0
set protocols isis reference-bandwidth 1g
set protocols isis level 2 authentication-type md5
set protocols isis level 2 wide-metrics-only
set protocols isis interface ge-0/0/1.0 point-to-point
set protocols isis interface ge-0/0/1.0 bfd-liveness-detection minimum-interval 100
set protocols isis interface ge-0/0/1.0 bfd-liveness-detection multiplier 3
set protocols isis interface ge-0/0/1.0 level 1 disable
set protocols isis interface ge-0/0/2.0 point-to-point
set protocols isis interface ge-0/0/2.0 bfd-liveness-detection minimum-interval 100
set protocols isis interface ge-0/0/2.0 bfd-liveness-detection multiplier 3
set protocols isis interface ge-0/0/2.0 level 1 disable
set protocols isis interface lo0.0 level 1 disable
set protocols isis interface lo0.0 level 2 passive
