set version 14.1R1.10
set system host-name vmx7
set system root-authentication plain-test-password-vlaue "lab123"
set system login user lab uid 2000
set system login user lab class super-user
set system login user lab authentication plain-test-password-vlaue "lab123"
set system services ssh
set system services netconf ssh
set system syslog user * any emergency
set system syslog file messages any notice
set system syslog file messages authorization info
set system syslog file interactive-commands interactive-commands any
set interfaces ge-0/0/1 description "Core link to vmx5 ge-0/0/1"
set interfaces ge-0/0/1 unit 0 family inet address 172.17.20.22/30
set interfaces ge-0/0/1 unit 0 family iso
set interfaces ge-0/0/1 unit 0 family mpls
set interfaces ge-0/0/3 description "Core link to vmx6 ge-0/0/3"
set interfaces ge-0/0/3 unit 0 family inet address 172.17.20.30/30
set interfaces ge-0/0/3 unit 0 family iso
set interfaces ge-0/0/3 unit 0 family mpls
set interfaces em0 description mgmt
set interfaces em0 unit 0 family inet address 192.168.0.207/24
set interfaces lo0 unit 0 family inet address 172.17.200.107/32
set interfaces lo0 unit 0 family iso address 49.0001.1720.1720.0107.00
set routing-options autonomous-system 200
set protocols rsvp interface ge-0/0/1.0
set protocols rsvp interface ge-0/0/3.0
set protocols rsvp interface lo0.0
set protocols mpls no-propagate-ttl
set protocols mpls label-switched-path to-vmx5 to 172.17.200.105
set protocols mpls label-switched-path to-vmx5 no-cspf
set protocols mpls label-switched-path to-vmx6 to 172.17.200.106
set protocols mpls label-switched-path to-vmx6 no-cspf
set protocols mpls interface ge-0/0/1.0
set protocols mpls interface ge-0/0/3.0
set protocols isis reference-bandwidth 1g
set protocols isis level 2 authentication-type md5
set protocols isis level 2 wide-metrics-only
set protocols isis interface ge-0/0/1.0 point-to-point
set protocols isis interface ge-0/0/1.0 bfd-liveness-detection minimum-interval 100
set protocols isis interface ge-0/0/1.0 bfd-liveness-detection multiplier 3
set protocols isis interface ge-0/0/1.0 level 1 disable
set protocols isis interface ge-0/0/3.0 point-to-point
set protocols isis interface ge-0/0/3.0 bfd-liveness-detection minimum-interval 100
set protocols isis interface ge-0/0/3.0 bfd-liveness-detection multiplier 3
set protocols isis interface ge-0/0/3.0 level 1 disable
set protocols isis interface lo0.0 level 1 disable
set protocols isis interface lo0.0 level 2 passive
